.about_page_first {
    overflow: hidden;
    padding-top: vw(50);
    padding-bottom: vw(125);
    background-size: vw(890) !important;
    min-height: vw(660);
    @media all and (max-width: 1023px) {
        padding-top: 25px;
        padding-bottom: 60px;
        background-position: 100% 100% !important;
        min-height: unset;
    }
    @media all and (max-width: 768px) {
        padding-bottom: 272px;
        background-size: 275px !important;
        background-position: 50% 103% !important;
    }
    .blue_color {
        .breadcrums span a span:before {
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41954 15.5002C8.17547 15.7443 7.77974 15.7443 7.53566 15.5002L2.47733 10.4419C2.36012 10.3247 2.29427 10.1657 2.29427 9.99996C2.29427 9.83419 2.36012 9.67522 2.47733 9.55801L7.53566 4.49968C7.77974 4.2556 8.17547 4.2556 8.41954 4.49968C8.66362 4.74376 8.66362 5.13949 8.41954 5.38356L3.80315 9.99996L8.41954 14.6163C8.66362 14.8604 8.66362 15.2562 8.41954 15.5002Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7109 9.99996C17.7109 10.3451 17.4311 10.625 17.0859 10.625H3.06094C2.71576 10.625 2.43594 10.3451 2.43594 9.99996C2.43594 9.65478 2.71576 9.37496 3.06094 9.37496H17.0859C17.4311 9.37496 17.7109 9.65478 17.7109 9.99996Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        .breadcrums span a span, .service_page_first__title, .service_page_first__list li, .service_page_first__btn--small {
            color: #224875;
        }
        .breadcrums__splash {
            background: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 3.63397C7.16667 4.01887 7.16667 4.98113 6.5 5.36603L2 7.9641C1.33333 8.349 0.5 7.86788 0.5 7.09808L0.5 1.90192C0.5 1.13212 1.33333 0.650998 2 1.0359L6.5 3.63397Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        .service_page_first__btn--big {
            background: #224875;
            color: #fff;
            &:hover {
                background: #fff;
                color: #224875;
            }
        }
        .service_page_first__btn--small {
            border-color: #224875;
        }
    }
    &__info {
        max-width: vw(600);
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 600px;
        }
    }
    &__title {
        margin: 0;
        color: var(--main-green, #7CC049);
        font-size: vw(40);
        font-style: normal;
        font-weight: 600;
        margin-bottom: vw(30);
        @media all and (max-width: 1023px) {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    &__subtitle {
        color: var(--txt-h, #0A0A3E);
        font-size: vw(50);
        font-style: normal;
        font-weight: 700;
        margin-bottom: vw(30);
        @media all and (max-width: 1023px) {
            font-size: 36px;
            margin-bottom: 30px;
        }
    }
    &__text {
        color: var(--txt-body, #28285C);
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 16px;
        }
    }
}
.about_page { 
    &__text {
        padding: vw(80) vw(40);
        border-radius: 10px;
        background: #F9F9F9;
        max-width: vw(920);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: var(--txt-body, #28285C);
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
            font-size: 16px;
            max-width: 920px;
        }
    }
    &__doc {
        margin-bottom: 5px;
        padding: vw(20) vw(40);
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        background: #F9F9F9;
        text-decoration: none;
        position: relative;
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
            flex-direction: column;
            align-items: flex-start;
        }
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: vw(30);
            width: vw(40);
            right: vw(40);
            height: vw(40);
            background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0398 3.95957C36.4303 4.35009 36.4303 4.98325 36.0398 5.37378L22.3731 19.0404C21.9826 19.431 21.3494 19.431 20.9589 19.0404C20.5684 18.6499 20.5684 18.0168 20.9589 17.6262L34.6256 3.95956C35.0161 3.56904 35.6493 3.56904 36.0398 3.95957Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.666 3.33333C27.666 2.78104 28.1137 2.33333 28.666 2.33333H36.666C37.2183 2.33333 37.666 2.78104 37.666 3.33333V11.3333C37.666 11.8856 37.2183 12.3333 36.666 12.3333C36.1137 12.3333 35.666 11.8856 35.666 11.3333V4.33333H28.666C28.1137 4.33333 27.666 3.88561 27.666 3.33333Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33521 5.33455C7.4895 3.18026 10.7354 2.33333 15.0007 2.33333H18.334C18.8863 2.33333 19.334 2.78104 19.334 3.33333C19.334 3.88561 18.8863 4.33333 18.334 4.33333H15.0007C10.9326 4.33333 8.34513 5.15306 6.74942 6.74877C5.15372 8.34448 4.33398 10.932 4.33398 15V25C4.33398 29.068 5.15372 31.6555 6.74942 33.2512C8.34513 34.8469 10.9326 35.6667 15.0007 35.6667H25.0007C29.0687 35.6667 31.6562 34.8469 33.2519 33.2512C34.8476 31.6555 35.6673 29.068 35.6673 25V21.6667C35.6673 21.1144 36.115 20.6667 36.6673 20.6667C37.2196 20.6667 37.6673 21.1144 37.6673 21.6667V25C37.6673 29.2653 36.8204 32.5111 34.6661 34.6654C32.5118 36.8197 29.2659 37.6667 25.0007 37.6667H15.0007C10.7354 37.6667 7.4895 36.8197 5.33521 34.6654C3.18092 32.5111 2.33398 29.2653 2.33398 25V15C2.33398 10.7347 3.18092 7.48885 5.33521 5.33455Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                top: 35px;
                right: 20px;
                width: 30px;
                height: 30px;
            }
        }
        svg {
            width: vw(60);
            height: vw(60);
            flex: 0 0 vw(60);
            margin-right: vw(20);
            @media all and (max-width: 1023px) {
                width: 40px;
                height: 40px;
                margin-bottom: 14px;
                flex: 0 0 40px;
                margin-right: 0;
            }
        }
        &--text {
            color: var(--txt-body, #28285C);
            font-size: vw(24);
            width: 100%;
            font-style: normal;
            font-weight: 600;
            padding-right: vw(60);
            @media all and (max-width: 1023px) {
                font-size: 18px;
                padding-right: 0;
                padding-right: 50px;
            }
        }
        &:hover {
            background: #28285C;
            .about_page__doc--text {
                color: #fff;
            }
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0398 3.95957C36.4303 4.35009 36.4303 4.98325 36.0398 5.37378L22.3731 19.0404C21.9826 19.431 21.3494 19.431 20.9589 19.0404C20.5684 18.6499 20.5684 18.0168 20.9589 17.6262L34.6256 3.95956C35.0161 3.56904 35.6493 3.56904 36.0398 3.95957Z' fill='%23ffffff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.666 3.33333C27.666 2.78104 28.1137 2.33333 28.666 2.33333H36.666C37.2183 2.33333 37.666 2.78104 37.666 3.33333V11.3333C37.666 11.8856 37.2183 12.3333 36.666 12.3333C36.1137 12.3333 35.666 11.8856 35.666 11.3333V4.33333H28.666C28.1137 4.33333 27.666 3.88561 27.666 3.33333Z' fill='%23ffffff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33521 5.33455C7.4895 3.18026 10.7354 2.33333 15.0007 2.33333H18.334C18.8863 2.33333 19.334 2.78104 19.334 3.33333C19.334 3.88561 18.8863 4.33333 18.334 4.33333H15.0007C10.9326 4.33333 8.34513 5.15306 6.74942 6.74877C5.15372 8.34448 4.33398 10.932 4.33398 15V25C4.33398 29.068 5.15372 31.6555 6.74942 33.2512C8.34513 34.8469 10.9326 35.6667 15.0007 35.6667H25.0007C29.0687 35.6667 31.6562 34.8469 33.2519 33.2512C34.8476 31.6555 35.6673 29.068 35.6673 25V21.6667C35.6673 21.1144 36.115 20.6667 36.6673 20.6667C37.2196 20.6667 37.6673 21.1144 37.6673 21.6667V25C37.6673 29.2653 36.8204 32.5111 34.6661 34.6654C32.5118 36.8197 29.2659 37.6667 25.0007 37.6667H15.0007C10.7354 37.6667 7.4895 36.8197 5.33521 34.6654C3.18092 32.5111 2.33398 29.2653 2.33398 25V15C2.33398 10.7347 3.18092 7.48885 5.33521 5.33455Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }
        }
        &--rules {
            padding: vw(33) vw(40);
            @media all and (max-width: 1023px) {
                &:before {
                    top: 30px;
                }
            }
        }
    }
    .r-tabs .r-tabs-accordion-title, .r-tabs .r-tabs-panel {
        display: none;
    }
    .r-tabs .r-tabs-panel.r-tabs-state-active {
        display: block;
    }
    .r-tabs {
        display: flex;
    }
    .tab-content {
        &__tabs {
            padding: 0;
            margin: 0;
            list-style: none;
            flex: 0 0 vw(440);
            margin-right: vw(40);
            li {
                a {
                    text-decoration: none;
                    display: block;
                    padding: vw(30) vw(20);
                    color: var(--txt-h, #0A0A3E);
                    font-size: vw(20);
                    font-style: normal;
                    font-weight: 500;
                    opacity: .2;
                    border-bottom: 2px solid rgba(34, 72, 117, 0.20);
                }
                &.r-tabs-state-active {
                    a {
                        border-radius: 10px;
                        background: #224875;
                        border-color: transparent;
                        opacity: 1;
                        color: #fff;
                    }
                }
            }
        }
        &__content {
            width: 100%;
            border-radius: 10px;
            background: #F9F9F9;
            padding: vw(40);
            @media all and (max-width: 1023px) {
                padding: 0;
                background: none;
                border-radius: 0;
            }
        }
    }
    .ques_block {
        margin-bottom: 5px;
        &.isActive {
            .ques_block__title {
                background: #224875;
                color: #fff;
            }
            .ques_block__title:before {
                transform: rotate(180deg);
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }
            .ques_block__text {
                display: block;
            }
        }
        &__title {
            padding: vw(30);
            padding-right: vw(90);
            border-radius: 10px;
            background: var(--dop-white, #FFF);
            color: var(--txt-h, #0A0A3E);
            font-size: vw(20);
            font-style: normal;
            cursor: pointer;
            font-weight: 500;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: vw(30);
                top: 50%;
                margin-top: vw(-10);
                width: vw(20);
                height: vw(20);
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }
            @media all and (max-width: 1023px) {
                padding: 20px;
                padding-right: 50px;
                font-size: 14px;
                &:before {
                    right: 20px;
                    margin-top: -10px;
                    width: 20px;
                    height: 20px;
                }
            }
            &:hover {
                background: #224875;
                color: #fff;
                &:before {
                    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
        &__text {
            display: none;
            padding: vw(30);
            color: var(--txt-body, #28285C);
            font-size: vw(16);
            font-style: normal;
            font-weight: 500;
            @media all and (max-width: 1023px) {
                padding: 20px 10px;
                font-size: 14px;
            }
        }
    }
    @media all and (max-width: 1023px) {
        .r-tabs .r-tabs-nav {
            display: none;
        }
    
        .r-tabs .r-tabs-accordion-title {
            display: block;
        }
        .r-tabs-accordion-title {
            a {
                text-decoration: none;
                display: block;
                padding: 30px 20px;
                color: var(--dop-white, #224875);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                background: #fff;
                padding-right: 50px;
                border-radius: 10px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    margin-top: -10px;
                    width: 20px;
                    height: 20px;
                    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
            &.r-tabs-state-active {
                a {
                    background: #224875;
                    color: #fff;
                    &:before {
                        transform: rotate(180deg);
                        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                    }
                }
            }
        }
        .r-tabs-panel {
            padding: 30px 10px;
            border-radius: 10px;
            background: #F9F9F9;
        }
    }
}