.footer {
    &__top {
        background: var(--main-blu, #224875);
        padding-top: vw(168);
        @media all and (max-width: 1023px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__blocks {
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: calc(100% - vw(440));
        padding-right: vw(20);
        @media all and (max-width: 1023px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 0px;
        }
    }
    &__main-menu {
        width: 100%;
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: vw(800);
            @media all and (max-width: 1023px) {
                max-height: unset;
            }
            > li {
                width: auto;
                margin-bottom: vw(60);
                padding-right: vw(20);
                @media all and (max-width: 1023px) {
                    padding-right: 0;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    margin-bottom: 0;
                    border-bottom: 1px solid rgba(255,255,255, .2);
                }
                > a {
                    color: var(--dop-white, #FFF);
                    font-size: vw(26);
                    font-style: normal;
                    font-weight: 600;
                    margin-bottom: vw(30);
                    text-decoration: none;
                    display: inline-block;
                    @media all and (max-width: 1023px) {
                        margin-bottom: 0;
                        font-size: 18px;
                    }
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    @media all and (max-width: 1023px) {
                        padding-top: 30px;
                    }
                    li {
                        &:not(:last-child) {
                            margin-bottom: vw(24);
                            @media all and (max-width: 1023px) {
                                margin-bottom: 24px;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: var(--dop-white, #FFF);
                            font-size: vw(17);
                            font-style: normal;
                            font-weight: 400;
                            display: inline-block;
                            padding-top: vw(3);
                            padding-bottom: vw(3);
                            border-bottom: 1px solid transparent;
                            @media all and (max-width: 1023px) {
                                font-size: 14px;
                                padding-top: 3px;
                                padding-bottom: 3px;
                            }
                            &:hover {
                                border-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    &__r-side {
        max-width: vw(440);
        width: 100%;
        margin-bottom: vw(60);
        @media all and (max-width: 1023px) {
            max-width: 100%;
            padding-top: 30px;
            margin-bottom: 0;
        }
    }
    &__links {
        margin-bottom: vw(60);
        @media all and (max-width: 1023px) {
            margin-bottom: 60px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            @media all and (max-width: 1023px) {
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(255,255,255, .2);
            }
            li {
                &:not(:last-child) {
                    margin-bottom: vw(24);
                    @media all and (max-width: 1023px) {
                        margin-bottom: 24px;
                    }
                }
                a {
                    color: var(--dop-white, #FFF);
                    font-size: vw(17);
                    font-style: normal;
                    text-decoration: none;
                    font-weight: 400;
                    padding-top: vw(3);
                    padding-bottom: vw(3);
                    border-bottom: 1px solid transparent;
                    @media all and (max-width: 1023px) {
                        font-size: 14px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                    &:hover {
                        border-color: #fff;
                    }
                }
            }
        }
    }
    &__tit {
        margin-bottom: vw(30);
        color: var(--dop-white, #FFF);
        font-size: vw(26);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 26px;
            margin-bottom: 0px;
        }
    }
    &__tel {
        margin-bottom: vw(30);
        color: var(--dop-white, #FFF);
        font-size: vw(24);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 0;
        }
        a {
            color: var(--dop-white, #FFF);
            font-size: vw(24);
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
            @media all and (max-width: 1023px) {
                font-size: 20px;
            }
        }
        span {
            color: var(--dop-white, #FFF);
            font-size: vw(14);
            font-style: normal;
            font-weight: 400;
            opacity: .5;
            display: block;
            line-height: normal;
            display: block;
            letter-spacing: normal;
            margin-bottom: vw(10);
            @media all and (max-width: 1023px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
    &__bottom {
        background: #0E3461;
    }
    &__item {
        border-bottom: 1px solid rgba(255,255,255, .2);
        padding-top: vw(60);
        padding-bottom: vw(60);
        @media all and (max-width: 1023px) {
            padding-top: 60px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }
    &__copy {
        color: var(--dop-white, #FFF);
        font-size: vw(14);
        font-style: normal;
        font-weight: 500;
        opacity: 0.699999988079071;
        line-height: 140%;
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
    }
    &__info {
        padding-top: vw(60);
        padding-bottom: vw(60);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            padding-top: 0;
            padding-bottom: 60px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__main {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            width: 100%;
            padding-bottom: 30px;
            align-items: flex-start;
            border-bottom: 1px solid rgba(255,255,255, .2);
        }
    }
    &__logo {
        font-size: 0;
        display: block;
        max-width: vw(230);
        width: 100%;
        margin-right: vw(40);
        @media all and (max-width: 1023px) {
            margin-right: 0;
            max-width: 230px;
            margin-bottom: 30px;
        }
    }
    &__title {
        color: var(--dop-white, #FFF);
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        max-width: vw(180);
        width: 100%;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            max-width: 100%;
            opacity: .5;
        }
    }
    &__menu {
        text-decoration: none;
        color: var(--dop-white, #FFF);
        font-size: vw(17);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 17px;
            width: 100%;
            border-bottom: 1px solid rgba(255,255,255, .2);
        }
        padding-top: vw(3);
        padding-bottom: vw(3);
        border-bottom: 1px solid transparent;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        &:hover {
            border-color: #fff;
        }
        &.no_link {
            cursor: auto;
            &:hover {
                border-color: transparent;
            }
        }
    }
    &__link {
        font-size: 0;
        @media all and (max-width: 1023px) {
            padding-top: 30px;
        }
    }
    &__socs {
        display: flex;
        @media all and (max-width: 1023px) {
            margin-top: 24px;
        }
        a {
            font-size: 0;
            width: vw(50);
            height: vw(50);
            border: 1px solid rgba(255,255,255, .2);
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:first-child) {
                margin-left: -1px;
            }
            @media all and (max-width: 1023px) {
                width: 50px;
                height: 50px;
            }
            &:hover {
                background: var(--main-blu, #fff);
                path {
                    fill: #224875;
                }
            }
        }
    }
}