.header {
    position: relative;
    z-index: 2;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--dop-lite-grey, #F9F9F9);
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
            width: 100%;
        }
    }
    &__menu {
        padding: vw(22) vw(30);
        @media all and (max-width: 1023px) {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                &:not(:last-child) {
                    margin-right: vw(40);
                }
                a {
                    color: var(--main-blu, #224875);
                    font-size: vw(16);
                    font-style: normal;
                    font-weight: 600;
                    opacity: .5;
                    text-decoration: none;
                    padding-top: vw(3);
                    padding-bottom: vw(3);
                    border-bottom: 1px solid transparent;
                    &:hover {
                        border-color: #224875;
                    }
                    &:active {
                        opacity: 1;
                    }
                    @media all and (max-width: 1023px) {
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            justify-content: space-between;
            width: 100%;
        }
    }
    &__tel {
        padding-left: vw(38);
        position: relative;
        color: var(--txt-body, #28285C);
        font-size: vw(24);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.96px;
        text-decoration: none;
        text-transform: uppercase;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            padding-left: 40px;
            white-space: nowrap;
        }
        &:before {
            content: '';
            position: absolute;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.97 18.33C21.97 18.69 21.89 19.06 21.72 19.42C21.55 19.78 21.33 20.12 21.04 20.44C20.55 20.98 20.01 21.37 19.4 21.62C18.8 21.87 18.15 22 17.45 22C16.43 22 15.34 21.76 14.19 21.27C13.04 20.78 11.89 20.12 10.75 19.29C9.6 18.45 8.51 17.52 7.47 16.49C6.44 15.45 5.51 14.36 4.68 13.22C3.86 12.08 3.2 10.94 2.72 9.81C2.24 8.67 2 7.58 2 6.54C2 5.86 2.12 5.21 2.36 4.61C2.6 4 2.98 3.44 3.51 2.94C4.15 2.31 4.85 2 5.59 2C5.87 2 6.15 2.06 6.4 2.18C6.66 2.3 6.89 2.48 7.07 2.74L9.39 6.01C9.57 6.26 9.7 6.49 9.79 6.71C9.88 6.92 9.93 7.13 9.93 7.32C9.93 7.56 9.86 7.8 9.72 8.03C9.59 8.26 9.4 8.5 9.16 8.74L8.4 9.53C8.29 9.64 8.24 9.77 8.24 9.93C8.24 10.01 8.25 10.08 8.27 10.16C8.3 10.24 8.33 10.3 8.35 10.36C8.53 10.69 8.84 11.12 9.28 11.64C9.73 12.16 10.21 12.69 10.73 13.22C11.27 13.75 11.79 14.24 12.32 14.69C12.84 15.13 13.27 15.43 13.61 15.61C13.66 15.63 13.72 15.66 13.79 15.69C13.87 15.72 13.95 15.73 14.04 15.73C14.21 15.73 14.34 15.67 14.45 15.56L15.21 14.81C15.46 14.56 15.7 14.37 15.93 14.25C16.16 14.11 16.39 14.04 16.64 14.04C16.83 14.04 17.03 14.08 17.25 14.17C17.47 14.26 17.7 14.39 17.95 14.56L21.26 16.91C21.52 17.09 21.7 17.3 21.81 17.55C21.91 17.8 21.97 18.05 21.97 18.33Z' stroke='%23224875' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            width: vw(24);
            height: vw(24);
            position: absolute;
            top: 50%;
            margin-top: vw(-12);
            left: 0;
            @media all and (max-width: 1023px) {
                width: 30px;
                height: 30px;
                margin-top: -15px;
            }
        }
    }
    &__socs {
        margin-left: vw(60);
        display: flex;
        @media all and (max-width: 1023px) {
            display: none;
        }
        a {
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: vw(74);
            height: vw(74);
            flex: 0 0 vw(74);
            border-left: 1px solid #c4c4c4;
            svg {
                max-width: vw(27);
                max-height: vw(27);
            }
            &:hover {
                background: var(--main-blu, #224875);
                path {
                    fill: #fff;
                }
            }
            &:active {
                background: #00204D;
            }
        }
    }
    &__bottom {
        padding: vw(30);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            padding: 20px;
        }
    }
    &__logo {
        margin-right: vw(60);
        max-width: vw(230);
        width: 100%;
        img {
            width: 100%;
        }
        @media all and (max-width: 1023px) {
            max-width: 178px;
            margin-right: auto;
        }
    }
    &__main-menu {
        margin-right: auto;
        @media all and (max-width: 1023px) {
            display: none;
        }
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                &:not(:last-child) {
                    margin-right: vw(40);
                }
                a {
                    color: var(--main-blu, #224875);
                    font-size: vw(16);
                    font-style: normal;
                    font-weight: 600;
                    text-decoration: none;
                    padding-top: vw(3);
                    padding-bottom: vw(3);
                    border-bottom: 1px solid transparent;
                    &:hover {
                        border-color: #224875;
                    }
                    @media all and (max-width: 1023px) {
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
                .sub-menu {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: vw(415);
                    background: #fff;
                    padding: vw(40);
                    padding-top: vw(88);
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 0px 0px 10px 10px;
                    li {
                        a {
                            color: var(--main-blu, #224875);
                            font-size: vw(16);
                            font-style: normal;
                            font-weight: 500;
                            opacity: .64;
                        }
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    > a {
                        padding-right: vw(18);
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            width: vw(10);
                            height: vw(10);
                            transform: translateY(-50%);
                            margin-bottom: -2px;
                            right: 0;
                            top: 50%;
                            background: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.29289 7.29289L1.70711 4.70711C1.07714 4.07714 1.52331 3 2.41421 3H7.58579C8.47669 3 8.92286 4.07714 8.2929 4.70711L5.70711 7.29289C5.31658 7.68342 4.68342 7.68342 4.29289 7.29289Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                        }
                    }
                    &:hover {
                        @media all and (min-width: 1023px) {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    &__buttons {
        display: flex;
        @media all and (max-width: 1023px) {
            display: none;
        }
        &.mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: flex;
            }
        }
    }
    &__button {
        margin-left: vw(24);
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: space-between;
        padding: vw(18) vw(20);
        border: 1px solid var(--main-blu, #224875);
        border-radius: 10px;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 0;
            margin-left: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            border: 0;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        span {
            white-space: nowrap;
        }
        svg {
            flex: 0 0 vw(20);
            margin-right: vw(20);
            &.mob {
                display: none;
            }
            @media all and (max-width: 1023px) {
                flex: none;
                margin-right: 0;
                width: 100%;
                height: 100%;
                display: none;
                &.mob {
                    display: block;
                }
            }
        }
        &.light {
            color: var(--main-blu, #224875);
            font-weight: 600;
            &:hover {
                color: #fff;
                background: #224875;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
            &:active {
                background: #00204D;
            }
        }
        &.dark {
            color: var(--dop-white, #FFF);
            background: var(--main-blu, #224875);
            &:hover {
                color: #224875;
                background: #fff;
                svg {
                    path {
                        stroke: #224875;
                    }
                }
            }
            @media all and (max-width: 1023px) {
                background: none;
            }
        }
    }
    &__burger {
        display: none;
        @media all and (max-width: 1023px) {
            display: block;
        }
        &--icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.625 10.5C0.625 10.1548 0.904822 9.875 1.25 9.875H18.75C19.0952 9.875 19.375 10.1548 19.375 10.5C19.375 10.8452 19.0952 11.125 18.75 11.125H1.25C0.904822 11.125 0.625 10.8452 0.625 10.5Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.625 18C0.625 17.6548 0.904822 17.375 1.25 17.375H18.75C19.0952 17.375 19.375 17.6548 19.375 18C19.375 18.3452 19.0952 18.625 18.75 18.625H1.25C0.904822 18.625 0.625 18.3452 0.625 18Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.625 3C0.625 2.65482 0.904822 2.375 1.25 2.375H18.75C19.0952 2.375 19.375 2.65482 19.375 3C19.375 3.34518 19.0952 3.625 18.75 3.625H1.25C0.904822 3.625 0.625 3.34518 0.625 3Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;  
        }
        &--close {
            width: 20px;
            height: 20px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.715999 1.22333C1.00889 0.930439 1.48544 0.928754 1.7804 1.21957L19.5826 18.7718C19.8776 19.0626 19.8793 19.5358 19.5864 19.8287C19.2935 20.1216 18.8169 20.1233 18.522 19.8324L0.719736 2.28023C0.424779 1.98941 0.423106 1.51623 0.715999 1.22333Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5862 1.22333C19.2934 0.930439 18.8168 0.928754 18.5218 1.21957L0.719605 18.7718C0.424647 19.0626 0.422975 19.5358 0.715868 19.8287C1.00876 20.1216 1.48531 20.1233 1.78027 19.8324L19.5825 2.28023C19.8775 1.98941 19.8791 1.51623 19.5862 1.22333Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        }
        &--logo {
            max-width: 178px;
        }
        &--body {
            overflow: auto;
            width: 100%;
            position: fixed;
            z-index: 10;
            right: -100%;
            top: 0;
            height: 100%;
            background: #fff;
        }
        &.isOpened {
            .header__burger--body {
                right: 0;
            }
        }
        &--main-menu {
            padding-top: 30px;
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(34, 72, 117, .2);
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    a {
                        color: var(--main-blu, #224875);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        text-decoration: none;
                        padding-top: vw(3);
                        padding-bottom: vw(3);
                        border-bottom: 1px solid transparent;
                        display: block;
                        &:hover {
                            border-color: #224875;
                        }
                        @media all and (max-width: 1023px) {
                            padding-top: 3px;
                            padding-bottom: 3px;
                        }
                    }
                    &.menu-item-has-children {
                        > a {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 10px;
                                height: 10px;
                                margin-top: -5px;
                                background: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.29289 7.29289L1.70711 4.70711C1.07714 4.07714 1.52331 3 2.41421 3H7.58579C8.47669 3 8.92286 4.07714 8.2929 4.70711L5.70711 7.29289C5.31658 7.68342 4.68342 7.68342 4.29289 7.29289Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
                            }
                        }
                        ul {
                            li.menu-item {
                                a {
                                    text-decoration: none;
                                    color: var(--main-blu, #224875);
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    opacity: .5;
                                    padding-top: vw(3);
                                    padding-bottom: vw(3);
                                    border-bottom: 1px solid transparent;
                                    &:hover {
                                        border-color: #224875;
                                    }
                                    &:active {
                                        opacity: 1;
                                    }
                                    @media all and (max-width: 1023px) {
                                        padding-top: 3px;
                                        padding-bottom: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &--menu {
            margin-bottom: 30px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-left: 20px;
                margin-right: 20px; 
                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    a {
                        text-decoration: none;
                        color: var(--main-blu, #224875);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        opacity: .5;
                        padding-top: vw(3);
                        padding-bottom: vw(3);
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-color: #224875;
                        }
                        &:active {
                            opacity: 1;
                        }
                        @media all and (max-width: 1023px) {
                            padding-top: 3px;
                            padding-bottom: 3px;
                        }
                    }
                }
            }
        }
        &--info {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
            margin-top: auto;
        }
        &--tel {
            margin-bottom: 30px;
            color: var(--txt-body, #28285C);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            a {
                color: var(--txt-body, #28285C);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                text-decoration: none;
            }
            span {
                color: var(--txt-body, #28285C);
                font-size: 14px;
                text-transform: capitalize;
                font-style: normal;
                letter-spacing: normal;
                font-weight: 500;
                opacity: .5;    
                margin-bottom: 10px;
                display: block;
            }
        }
        &--socs {
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                outline: 1px solid #c4c4c4;
                &:not(:first-child) {
                    margin-left: 1px;
                }
                &:hover {
                    background: var(--main-blu, #224875);
                    path {
                        fill: #fff;
                    }
                }
                &:active {
                    background: #00204D;
                }
            }
        }
    }
}
.waSlideMenu-wrapper.closed {
    left: 0 !important;
}
.waSlideMenu-back {
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
    a {
        padding-top: 18px;
        padding-bottom: 18px;
        position: relative;
        padding-left: 40px;
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            left: 0;
            top: 50%;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41686 15.5002C8.17278 15.7443 7.77705 15.7443 7.53298 15.5002L2.47464 10.4419C2.35743 10.3247 2.29158 10.1657 2.29158 9.99996C2.29158 9.83419 2.35743 9.67522 2.47464 9.55801L7.53298 4.49968C7.77705 4.2556 8.17278 4.2556 8.41686 4.49968C8.66094 4.74376 8.66094 5.13949 8.41686 5.38356L3.80047 9.99996L8.41686 14.6163C8.66094 14.8604 8.66094 15.2562 8.41686 15.5002Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7083 9.99996C17.7083 10.3451 17.4284 10.625 17.0833 10.625H3.05825C2.71307 10.625 2.43325 10.3451 2.43325 9.99996C2.43325 9.65478 2.71307 9.37496 3.05825 9.37496H17.0833C17.4284 9.37496 17.7083 9.65478 17.7083 9.99996Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
}