.post_page {
    padding-bottom: vw(160);
    @media all and (max-width: 1023px) {
        padding-bottom: 60px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        width: calc(100% - vw(480));
        border-radius: 10px;
        background: var(--dop-lite-grey, #F9F9F9);
        overflow: hidden;
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 60px;
            background: none;
        }
    }
    &__top {
        position: relative;
        height: vw(542);
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-end;
        @media all and (max-width: 1023px) {
            position: unset;
            height: auto;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__img {
        @media all and (max-width: 1023px) {
            position: relative;
            padding-top: 62%;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 20px;
            &:before {
                content: '';
                position: absolute; 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: 3;
                background: linear-gradient(0deg, rgba(34, 72, 117, 0.60) 0%, rgba(34, 72, 117, 0.60) 100%);
                height: 100%;
            }
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        padding: vw(50);
        @media all and (max-width: 1023px) {
            padding: 0;
        }
    }
    &__date {
        color: var(--main-orange, #F48432);
        font-size: vw(17);
        font-style: normal;
        font-weight: 500;
        margin-bottom: vw(30);
        &.mob {
            display: none;
        }
        @media all and (max-width: 1023px) {
            display: none;
            &.mob {
                display: block;
                position: absolute;
                bottom: 20px;
                z-index: 4;
                left: 20px;
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
    &__title {
        color: var(--dop-white, #FFF);
        font-size: vw(40);
        font-style: normal;
        font-weight: 600;
        margin: 0;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            margin-bottom: 60px;
            color: var(--txt-h, #0A0A3E);
        }
    }
    &__text {
        color: var(--txt-body, #28285C);
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        padding: vw(60) vw(50);
        @media all and (max-width: 1023px) {
            padding: 20px;
            border-radius: 10px;
            background: var(--dop-lite-grey, #F9F9F9);
            font-size: 16px;
        }
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2 {
            color: var(--txt-h, #0A0A3E);
            font-size: vw(28);
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.56px;
            @media all and (max-width: 1023px) {
                font-size: 20px;
            }
        }
    }
    &__btn {
        color: var(--dop-white, #FFF);
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        padding: vw(16) vw(20);
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        background: var(--main-blu, #224875);
        display: inline-block;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 22px 20px;
        }
        &:hover {
            color: #224875;
            background: #fff;
        }
    }
    &__block {
        margin-top: vw(50);
        margin-bottom: vw(50);
        @media all and (max-width: 1023px) {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &__r-side {
        width: vw(440);
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
    }
    &__post {
        margin-bottom: vw(40);
        border-radius: 10px 10px 10px 10px;
        background: var(--dop-white, #FFF);
        display: block;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
        @media all and (max-width: 1023px) {
            margin-bottom: 0;
        }
        &:hover {
            background: #0E3461;
            .post_page__post--date, .post_page__post--title {
                color: #fff;
            }
        }
        &:active {
            background: #00204D;
        }
        &--img {
            height: vw(260);
            @media all and (max-width: 1023px) {
                position: relative;
                height: auto;
                padding-top: 60%;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @media all and (max-width: 1023px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &--info {
            padding: vw(30) vw(20);
            @media all and (max-width: 1023px) {
                padding: 30px 20px;
            }
        }
        &--date {
            color: var(--main-orange, #F48432);
            font-size: vw(17);
            font-style: normal;
            font-weight: 500;
            margin-bottom: vw(30);
            @media all and (max-width: 1023px) {
                font-size: 15px;
                margin-bottom: 30px;
            }
        }
        &--title {
            color: var(--txt-h, #0A0A3E);
            font-size: vw(26);
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 3;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            @media all and (max-width: 1023px) {
                font-size: 20px;
            }
        }
    }
    .glide {
        &__arrows, &__bullets {
            @media all and (min-width: 1023px) {
                display: none;
            }
        }
        @media all and (max-width: 1023px) {
            padding-bottom: 70px;
        }
        &__bullets {
            bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__bullet {
            border-radius: 7px;
            height: 5px;
            width: 45px;
            border: 0;
            box-shadow: unset;
            margin: 0;
            margin-left: 5px;
            margin-right: 5px;
            background: var(--dop-lite-blu, #D9EDF9);
            &--active {
                background: var(--main-blu, #224875);
            }
            &:hover, &:focus {
                background: var(--main-blu, #224875);
                border: 0;
            }
        }
        &__arrows {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__arrow {
            font-size: 0;
            border: 0;
            top: unset;
            width: 40px;
            bottom: -17px;
            height: 40px;
            padding: 0;
            margin: 0;
            text-shadow: unset;
            box-shadow: unset;
            border-radius: 0;
            &--prev {
                left: 0;
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.8313 31.0006C16.3431 31.4887 15.5517 31.4887 15.0635 31.0006L4.94685 20.8839C4.71243 20.6495 4.58073 20.3316 4.58073 20C4.58073 19.6685 4.71243 19.3506 4.94685 19.1161L15.0635 8.99949C15.5517 8.51133 16.3431 8.51133 16.8313 8.99949C17.3194 9.48764 17.3194 10.2791 16.8313 10.7673L7.5985 20L16.8313 29.2328C17.3194 29.721 17.3194 30.5124 16.8313 31.0006Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.4141 20C35.4141 20.6904 34.8544 21.25 34.1641 21.25H6.11406C5.42371 21.25 4.86406 20.6904 4.86406 20C4.86406 19.3097 5.42371 18.75 6.11406 18.75H34.1641C34.8544 18.75 35.4141 19.3097 35.4141 20Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }
            &--next {
                right: 0;
                background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.1648 8.99942C23.653 8.51126 24.4444 8.51126 24.9326 8.99942L35.0493 19.1161C35.2837 19.3505 35.4154 19.6684 35.4154 20C35.4154 20.3315 35.2837 20.6494 35.0493 20.8839L24.9326 31.0005C24.4444 31.4887 23.653 31.4887 23.1648 31.0005C22.6767 30.5124 22.6767 29.7209 23.1648 29.2327L32.3976 20L23.1648 10.7672C22.6767 10.279 22.6767 9.48757 23.1648 8.99942Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.58203 20C4.58203 19.3096 5.14168 18.75 5.83203 18.75H33.882C34.5724 18.75 35.132 19.3096 35.132 20C35.132 20.6903 34.5724 21.25 33.882 21.25H5.83203C5.14168 21.25 4.58203 20.6903 4.58203 20Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            }       
        }
    }
}