body {
    box-sizing: border-box;
}

*,
::after,
::before {
    font-family: "Mont", sans-serif, cursive;
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
.map-block, .map-block * {
    transition: unset;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #FFF;
    height: 100%;
}

.ovh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: vw(1440);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media all and (max-width: 1023px) {
        max-width: 1440px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #E4E4E4;
    border-radius: 10px 0px 0px 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #224875;
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #224875;
}

// scrollbar end
.block_white  {
    .serv_zaym, .serv_form {
        background: var(--dop-lite-grey, #fff);
    }
    .serv_form {
        .serv_form__r-side form {
            background: #F9F9F9;
        }
    }
}
.jq-selectbox__select {
    padding: 13px 20px;
    border-radius: 10px;
    background: var(--dop-white, #FFF) !important;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
    height: auto;
    text-shadow: unset;
    color: var(--txt-h, #0A0A3E);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.jq-selectbox__trigger {
    border: 0;
    right: 20px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.29289 14.2929L1.70711 6.70711C1.07714 6.07714 1.52331 5 2.41421 5H17.5858C18.4767 5 18.9229 6.07714 18.2929 6.70711L10.7071 14.2929C10.3166 14.6834 9.68342 14.6834 9.29289 14.2929Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 20px no-repeat;
}
.jq-selectbox__trigger-arrow {
    display: none;
}
.jq-selectbox li.selected {
    background: #224875;
}