.main_post {
    padding-top: vw(160);
    padding-bottom: vw(120);
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media all and (max-width: 768px) {
        padding-bottom: 20px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vw(50);
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
        }
    }
    &__title {
        margin: 0;
        color: var(--txt-h, #0A0A3E);
        font-size: vw(50);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 36px;
        }
    }
    &__more {
        color: var(--main-blu, #224875);
        font-size: vw(16);
        font-style: normal;
        font-weight: 600;
        margin-left: vw(10);
        text-decoration: none;
        display: block;
        flex: 0 0 vw(140);
        padding-right: vw(40);
        position: relative;
        padding: vw(8) 0;
        border-bottom: 1px solid #224875;
        @media all and (max-width: 1023px) {
            max-width: 140px;
            width: 100%;
            flex: none;
            font-size: 16px;
            padding-right: 40px;
            padding: 8px 0;
        }
        &:before {
            content: '';
            position: absolute;
            width: vw(20);
            height: vw(20);
            margin-top: vw(-10);
            right: 0;
            top: 50%;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.583 4.49968C11.8271 4.2556 12.2229 4.2556 12.4669 4.49968L17.5253 9.55801C17.6425 9.67522 17.7083 9.83419 17.7083 9.99995C17.7083 10.1657 17.6425 10.3247 17.5253 10.4419L12.4669 15.5002C12.2229 15.7443 11.8271 15.7443 11.583 15.5002C11.339 15.2562 11.339 14.8604 11.583 14.6163L16.1994 9.99995L11.583 5.38356C11.339 5.13948 11.339 4.74376 11.583 4.49968Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.29166 9.99995C2.29166 9.65478 2.57148 9.37495 2.91666 9.37495H16.9417C17.2868 9.37495 17.5667 9.65478 17.5667 9.99995C17.5667 10.3451 17.2868 10.625 16.9417 10.625H2.91666C2.57148 10.625 2.29166 10.3451 2.29166 9.99995Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 20px;
                height: 20px;
                margin-top: -10px;
            }
        }
        &:hover {
            border-color: transparent;
            .main_news__date, .main_news__tit {
                color: #fff;
            }
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-20);
        margin-right: vw(-20);
        width: calc(100% + vw(40));
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding-bottom: 0px;
        }
    }
    &__block {
        margin-bottom: vw(40);
        width: calc(33.3% - vw(40));
        margin-left: vw(20);
        display: block;
        margin-right: vw(20);
        border-radius: 10px;
        background: #FFF;
        overflow: hidden;
        text-decoration: none;
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
        @media all and (max-width: 1023px) {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
        @media all and (max-width: 768px) {
            width: 245px !important;
        }
        &:hover {
            background: #0E3461;
            .main_post__date, .main_post__tit {
                color: #fff;
            }
        }
        &:active {
            background: #00204D;
        }
    }
    &__img {
        overflow: hidden;
        position: relative;
        width: 100%;
        display: block;
        font-size: 0;
        padding-top: 59%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding: vw(30) vw(20);
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
        }
    }
    &__date {
        color: var(--main-orange, #F48432);
        font-size: vw(17);
        font-style: normal;
        font-weight: 500;
        white-space: break-spaces;
        margin-bottom: vw(30);
        @media all and (max-width: 1023px) {
            font-size: 15px;
            margin-bottom: 30px;
        }
    }
    &__tit {
        color: var(--txt-h, #0A0A3E);
        font-size: vw(26);
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: break-spaces;
        -ms-line-clamp: 3;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        @media all and (max-width: 1023px) {
            font-size: 20px;
        }
    }
    .slick-slide {
        @media all and (max-width: 1023px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .slick-list {
        @media all and (max-width: 1023px) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .slick-track {
        @media all and (max-width: 768px) {
            padding-bottom: 40px;
        }
    }
}