.main_about {
    background: url('../img/img22.png') 50% 100% / cover no-repeat;
    padding-top: vw(37);
    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__l-side {
        width: calc(100% - vw(725));
    }
    &__title {
        margin-bottom: vw(50);
        color: var(--txt-h, #0A0A3E);
        font-size: vw(60);
        font-style: normal;
        font-weight: 600;
    }
    &__items {
        display: flex;
        padding-bottom: vw(20);
        flex-wrap: wrap;
    }
    &__item {
        margin-right: vw(10);
        margin-bottom: vw(10);
        border-radius: 10px;
        background: #FFF;
        padding: vw(20);
        max-width: vw(230);
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__number {
        color: var(--main-green, #7CC049);
        font-size: vw(60);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-right: vw(20);
    }
    &__text {
        max-width: vw(152);
        width: 100%;
        color: var(--txt-body, #28285C);
        font-size: vw(14);
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        b {
            font-weight: 700;
        }
    }
    &__txt {
        padding: vw(40);
        border-radius: 10px;
        background: #FFF;
        margin-bottom: vw(40);
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                position: relative;
                padding-left: vw(21);
                &:not(:last-child) {
                    margin-bottom: vw(40);
                }
                color: var(--txt-body, #28285C);
                font-size: vw(17);
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                &:before {
                    top: vw(5);
                    content: '';
                    left: 0;
                    position: absolute;
                    width: vw(11);
                    height: vw(12);
                    background: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 4.3954L3.57258 12L0 8.3422L1.36289 6.9468L3.57258 9.20919L9.63711 3L11 4.3954Z' fill='%237CC049'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
    }
    &__btn {
        padding: vw(22) vw(20);
        border-radius: 10px;
        background: var(--main-blu, #224875);
        color: var(--dop-white, #FFF);
        font-size: vw(16);
        font-style: normal;
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        line-height: normal;
    }
    &__r-side {
        margin-top: auto;
        width: vw(725);
        position: relative;
    }
    &__img {
        position: relative;
        z-index: 1;
        font-size: 0;
    }
    &__info {
        position: absolute;
        bottom: vw(156);
        right: vw(25);
        z-index: 2;
        width: vw(308);
        background: #fff;
        display: flex;
        align-items: center;
        padding: vw(3);
        border-radius: 10px;
        &:before {
            content: '';
            position: absolute;
            width: vw(22);
            height: vw(22);
            top: vw(-11);
            left: vw(-11);
            border-radius: 50%;
            border: vw(4) solid #fff;
            background: #7CC049;
        }
    }
    &__logo {
        flex: 0 0 vw(70);
    }
    &__txts {
        padding-left: vw(8);
        width: 100%;
    }
    &__name {
        color: var(--txt-h, #0A0A3E);
        font-size: vw(18);
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.36px;
        margin-bottom: vw(5);
    }
    &__work {
        color: var(--txt-body, #28285C);
        font-size: vw(14);
        font-style: normal;
        font-weight: 500;
    }
}