.spec_calc {
    border-radius: 10px;
    background: var(--dop-lite-grey, #F9F9F9);
    padding-top: vw(160);
    padding-bottom: vw(140);
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
    &__in {
        max-width: vw(920);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 1023px) {
            max-width: 920px;
        }
    }
    &__title {
        padding-bottom: vw(50);
        color: var(--txt-h, #0A0A3E);
        text-align: center;
        font-size: vw(50);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 36px;
            padding-bottom: 30px;
            text-align: left;
        }
    }
    &__subtitle {
        padding-bottom: vw(50);
        color: var(--txt-body, #28285C);
        text-align: center;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding-bottom: 30px;
            text-align: left;
        }
    }
    &__block {
        padding: vw(40);
        border-radius: 10px;
        background: var(--dop-white, #FFF);
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
        }
    }
}
#raschet {
    padding: vw(40);
    border-radius: 10px;
    background: var(--dop-white, #FFF);
    p {
        margin: 0;
    }
    .calc-item {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #224875;
    }
    .calc-row {
        display: flex;
        justify-content: space-between;    
        margin-bottom: 25px;
        align-items: center;
    }
    .calc-name {
        color: var(--txt-h, #0A0A3E);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }
    .calc-summa {
        border-radius: 5px;
        background: var(--dop-lite-grey, #F9F9F9);
        padding: 18px 20px;
        color: var(--txt-body, #28285C);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        min-width: 150px;
    }
    .calc-tickmarks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .calc-tickmarks__title {
        color: var(--txt-body, #28285C);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
    .calc-summary__title {
        padding-bottom: 40px;
        color: var(--txt-h, #0A0A3E);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }
    .calc-form {
        width: vw(260);
    }
    .calc-form__title {
        margin-top: vw(75);
        margin-bottom: vw(20);
        color: var(--txt-body, #28285C);
        font-size: vw(30);
        font-style: normal;
        font-weight: 600;
    }
    .calc-form__btn a {
        padding: vw(16) vw(20);
        border-radius: 10px;
        background: var(--main-blu, #224875);
        color: var(--dop-white, #FFF);
        font-size: vw(16);
        font-style: normal;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        &:hover {
            background: #00204D;
        }
    }
}
.progress {
    display: block;
    overflow: visible;
    background: linear-gradient(to right, #7CC049 0%, #7CC049 50%, #F9F9F9 40%, #F9F9F9 100%);
    width: 100%;
    height: 10px;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0px 7px 24px rgba(0, 0, 0, 0.1);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: background 450ms ease-in;
    -moz-transition: background 450ms ease-in;
    -ms-transition: background 450ms ease-in;
    -o-transition: background 450ms ease-in;
  }
  .progress::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Ccircle cx='12.6035' cy='12' r='12' fill='%237CC049'/%3E%3Ccircle cx='12.6035' cy='12' r='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E") 50% / 100% no-repeat;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .progress-mes {
    background: linear-gradient(to right, #7CC049 0%, #7CC049 20%, #F9F9F9 10%, #F9F9F9 100%);
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 200px;
    background: var(--dop-lite-grey, #F9F9F9);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  .progress-mes::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Ccircle cx='12.6035' cy='12' r='12' fill='%237CC049'/%3E%3Ccircle cx='12.6035' cy='12' r='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E") 50% / 100% no-repeat;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
