.spec_calc {
    border-radius: 10px;
    background: var(--dop-lite-grey, #F9F9F9);
    padding-top: vw(160);
    padding-bottom: vw(140);
    @media all and (max-width: 1023px) {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
    &__in {
        max-width: vw(920);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 1023px) {
            max-width: 920px;
        }
    }
    &__title {
        padding-bottom: vw(50);
        color: var(--txt-h, #0A0A3E);
        text-align: center;
        font-size: vw(50);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 36px;
            padding-bottom: 30px;
            text-align: left;
        }
    }
    &__subtitle {
        padding-bottom: vw(50);
        color: var(--txt-body, #28285C);
        text-align: center;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding-bottom: 30px;
            text-align: left;
        }
    }
    &__block {
        padding: vw(40);
        border-radius: 10px;
        background: var(--dop-white, #FFF);
        @media all and (max-width: 1023px) {
            padding: 30px 20px;
        }
    }
}
#raschet {
    padding: vw(40);
    border-radius: 10px;
    background: var(--dop-white, #FFF);
    @media all and (max-width: 1023px) {
        padding: 30px 20px;
    }
    p {
        margin: 0;
    }
    .calc-item {
        padding-bottom: vw(40);
        margin-bottom: vw(40);
        border-bottom: 1px solid #224875;
        @media all and (max-width: 1023px) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }
    .calc-row {
        display: flex;
        justify-content: space-between;    
        margin-bottom: vw(25);
        align-items: center;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .calc-name {
        color: var(--txt-h, #0A0A3E);
        font-size: vw(24);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    .calc-summa {
        border-radius: 5px;
        background: var(--dop-lite-grey, #F9F9F9);
        padding: vw(18) vw(20);
        color: var(--txt-body, #28285C);
        font-size: vw(18);
        font-style: normal;
        font-weight: 500;
        min-width: vw(150);
        @media all and (max-width: 1023px) {
            padding: 13px 20px;
            min-width: 150px;
            font-size: 18px;
        }
    }
    .calc-tickmarks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: vw(20);
        @media all and (max-width: 1023px) {
            margin-top: 20px;
        }
    }
    .calc-tickmarks__title {
        color: var(--txt-body, #28285C);
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    .calc-summary__title {
        padding-bottom: vw(40);
        color: var(--txt-h, #0A0A3E);
        font-size: vw(24);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 18px;
            padding-bottom: 20px;
        }
    }
    .calc-form {
        width: vw(260);
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    .calc-form__title {
        margin-top: vw(75);
        margin-bottom: vw(20);
        color: var(--txt-body, #28285C);
        font-size: vw(30);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
    .calc-form__btn a {
        padding: vw(16) vw(20);
        border-radius: 10px;
        background: var(--main-blu, #224875);
        color: var(--dop-white, #FFF);
        font-size: vw(16);
        font-style: normal;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-weight: 600;
        &:hover {
            background: #00204D;
        }
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 16px 10px;
        }
    }
    .calc-summary__items {
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    .calc-summary__item {
        min-width: vw(160);
        &:first-child {
            margin-right: vw(130);
            @media all and (max-width: 1023px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        span {
            color: var(--main-green, #7CC049);
            font-size: vw(30);
            font-style: normal;
            font-weight: 600;
            margin-bottom: vw(16);
            display: flex;
            span {
                display: inline-block;
                margin-right: 3px;
            }
            @media all and (max-width: 1023px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .calc-summary__name {
            color: var(--txt-body, #28285C);
            font-size: vw(14);
            font-style: normal;
            font-weight: 500;
            @media all and (max-width: 1023px) {
                font-size: 14px;
            }
        }
    }
}
.progress {
    background: linear-gradient(to right, #7CC049 0%, #7CC049 20%, #F9F9F9 10%, #F9F9F9 100%);
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 200px;
    background: var(--dop-lite-grey, #F9F9F9);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  .progress::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Ccircle cx='12.6035' cy='12' r='12' fill='%237CC049'/%3E%3Ccircle cx='12.6035' cy='12' r='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E") 50% / 100% no-repeat;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .progress-mes {
    background: linear-gradient(to right, #7CC049 0%, #7CC049 20%, #F9F9F9 10%, #F9F9F9 100%);
    width: 100%;
    height: 4px;
    outline: none;
    border-radius: 200px;
    background: var(--dop-lite-grey, #F9F9F9);
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  .progress-mes::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Ccircle cx='12.6035' cy='12' r='12' fill='%237CC049'/%3E%3Ccircle cx='12.6035' cy='12' r='5' stroke='white' stroke-width='3'/%3E%3C/svg%3E") 50% / 100% no-repeat;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
