.service_page_first {
    overflow: hidden;
    padding-top: vw(50);
    padding-bottom: vw(125);
    background-size: vw(1078) !important;
    &.zaym_bg {
        background-size: vw(680) !important;
        @media all and (max-width: 1023px) {
            background-position: 100% 100% !important;
        }
        @media all and (max-width: 768px) {
            background-size: 275px !important;
            background-position: 50% 103% !important;
        }
    }
    @media all and (max-width: 1023px) {
        padding-top: 25px;
        padding-bottom: 60px;
    }
    @media all and (max-width: 768px) {
        padding-bottom: 272px;
        background-position: 50% 100% !important;
        background-size: 380px !important;
    }
    &__info {
        max-width: vw(785);
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 600px;
        }
    }
    &__title {
        margin-bottom: vw(20);
        color: var(--dop-white, #FFF);
        font-size: vw(50);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
    &__items {
        padding-bottom: vw(20);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media all and (max-width: 1023px) {
            padding-bottom: 10px;
        }
        @media all and (max-width: 580px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__item {
        padding-bottom: vw(20);
        color: var(--main-green, #7CC049);
        font-size: vw(40);
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 56px */
        &:not(:last-child) {
            margin-right: vw(40);
            @media all and (max-width: 1023px) {
                margin-right: 10px;
            }
        }
        @media all and (max-width: 1023px) {
            padding-bottom: 20px;
            font-size: 30px;
        }
        &--text {
            color: var(--main-blu, #224875);
            font-size: vw(18);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            position: relative;
            padding-bottom: vw(20);
            padding-left: vw(30);
            &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #7CC049;
                @media all and (max-width: 580px) {
                    display: none;
                }
            }
            @media all and (max-width: 1023px) {
                padding-bottom: 20px;
                font-size: 18px;
                padding-left: 30px;
            }
            @media all and (max-width: 580px) {
                padding-left: 0;
            }
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: vw(50);
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
        li {
            color: var(--dop-white, #FFF);
            font-size: vw(16);
            font-style: normal;
            font-weight: 500;
            position: relative;
            padding-left: vw(26);
            &:not(:last-child) {
                margin-bottom: vw(20);
                @media all and (max-width: 1023px) {
                    margin-bottom: 20px;
                }
            }
            @media all and (max-width: 1023px) {
                font-size: 16px;
                padding-left: 20px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 7px;
                background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L4 8L11 1' stroke='%237CC049' stroke-width='2'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                top: 7px;
                left: 0;
                @media all and (max-width: 1023px) {
                    margin-top: 8px;
                    top: 0;
                }
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media all and (max-width: 1023px) {
            padding-top: 20px;
        }
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        &--big {
            padding: vw(17) vw(20);
            color: var(--main-blu, #224875);
            font-size: vw(16);
            font-style: normal;
            font-weight: 500;
            border-radius: 10px;
            background: var(--dop-white, #FFF);
            margin-right: vw(40);
            @media all and (max-width: 1023px) {
                padding: 22px 20px;
                font-size: 16px;
                margin-right: 0;
            }
            &:hover {
                background: #0E3461;
                color: #fff;
            }
            &:active {
                background: #00204D;
            }
        }
        &--small {
            padding: vw(9) 0;
            border-bottom: 1px solid var(--dop-white, #FFF);
            color: var(--dop-white, #FFF);
            font-size: vw(16);
            font-style: normal;
            font-weight: 500;
            @media all and (max-width: 1023px) {
                font-size: 16px;
                padding: 9px 0;
                margin-top: 20px;
            }
        }
    }
    .breadcrums__splash {
        background: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 3.63397C7.16667 4.01887 7.16667 4.98113 6.5 5.36603L2 7.9641C1.33333 8.349 0.5 7.86788 0.5 7.09808L0.5 1.90192C0.5 1.13212 1.33333 0.650998 2 1.0359L6.5 3.63397Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    .blue_color {
        .breadcrums span a span:before {
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41954 15.5002C8.17547 15.7443 7.77974 15.7443 7.53566 15.5002L2.47733 10.4419C2.36012 10.3247 2.29427 10.1657 2.29427 9.99996C2.29427 9.83419 2.36012 9.67522 2.47733 9.55801L7.53566 4.49968C7.77974 4.2556 8.17547 4.2556 8.41954 4.49968C8.66362 4.74376 8.66362 5.13949 8.41954 5.38356L3.80315 9.99996L8.41954 14.6163C8.66362 14.8604 8.66362 15.2562 8.41954 15.5002Z' fill='%23224875'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7109 9.99996C17.7109 10.3451 17.4311 10.625 17.0859 10.625H3.06094C2.71576 10.625 2.43594 10.3451 2.43594 9.99996C2.43594 9.65478 2.71576 9.37496 3.06094 9.37496H17.0859C17.4311 9.37496 17.7109 9.65478 17.7109 9.99996Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        .breadcrums span a span, .service_page_first__title, .service_page_first__list li, .service_page_first__btn--small {
            color: #224875;
        }
        .breadcrums__splash {
            background: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 3.63397C7.16667 4.01887 7.16667 4.98113 6.5 5.36603L2 7.9641C1.33333 8.349 0.5 7.86788 0.5 7.09808L0.5 1.90192C0.5 1.13212 1.33333 0.650998 2 1.0359L6.5 3.63397Z' fill='%23224875'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        .service_page_first__btn--big {
            background: #224875;
            color: #fff;
        }
        .service_page_first__btn--small {
            border-color: #224875;
        }
    }
    .service_page_first__mores {
        align-items: center;
        .service_page_first__btn--big {
            margin-right: 40px;
            @media all and (max-width: 540px) {
                margin-right: 0;
            }
        }
        .service_page_first__btn--small {
            margin-top: 0;
        }
        @media all and (max-width: 540px) {
            flex-direction: column;
            align-items: center;
            .service_page_first__btn--big {
                width: 100%;
                text-align: center;
            }
        }
    }
}